:root {
  --light-blue: #e9eff7;
  --black: #000;
  --red: rgb(187, 21, 21);
  --btn-text: #0c5bc3
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
}

header,
.container {
  display: grid;
  justify-content: center;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tasks p {
  background: var(--light-blue);
  margin: 0;
  padding: 1rem;
  border-radius: 9px;
}

.container .delete {
  width: fit-content;
  text-decoration: none;
  color: var(--red);
  background: var(--light-blue);
  padding: 1rem 1rem;
  border-radius: 9px;
  align-self: center;
  justify-self: center;
}

.delete:hover {
  background: var(--light-blue);
  cursor: pointer;
}

button {
  padding: 1rem 2rem;
  border: 0;
  border-radius: 9px;
  background-color: var(--light-blue);
  color: var(--btn-text);
  font-size: 1rem;
  cursor: pointer;
}

input {
  padding: 1.25rem;
  border: 0;
  margin: 1rem 0;
  background-color: var(--light-blue);
  border-radius: 9px;
}

input::placeholder {
  font-weight: bold;
  color: rgb(137, 137, 137);
}

input:focus {
  border: 0;
  outline: none;
}
